/bead1/calculate
/bead1/lex.yy.cc
/bead2/calculate
/bead2/lex.yy.cc
/bead2/parse.cc
/bead2/Parserbase.h
/bead3/calculate
/bead3/lex.yy.cc
/bead3/parse.cc
/bead3/Parserbase.h
/bead4/calculate
/bead4/lex.yy.cc
/bead4/parse.cc
/bead4/Parserbase.h
/bead4/test.asm
/bead4/test.o
/bead4/test.out
/while-tesztfajlok-2017tavasz/iotest/test.asm
/while-tesztfajlok-2017tavasz/iotest/test.o
/while-tesztfajlok-2017tavasz/iotest/test.out
/while-tesztfajlok-2017tavasz/iotest/test.output
